{
  "swagger" : "2.0",
  "info" : {
    "description" : "Generates settlement and transaction reports",
    "version" : "1.0.0",
    "title" : "Backoffice Report Service"
  },
  "host" : "api.bambora.com",
  "basePath" : "/reports",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json", "application/problem+json" ],
  "paths" : {
    "/excel" : {
      "get" : {
        "tags" : [ "reports" ],
        "summary" : "Create a Excel report task",
        "operationId" : "get_excel",
        "parameters" : [ {
          "name" : "settlement_id",
          "in" : "query",
          "description" : "Id of settlement of report",
          "required" : false,
          "type" : "string",
          "pattern" : "^[a-f0-9]{8}-([a-f0-9]{4}-){3}[a-f0-9]{12}$"
        }, {
          "name" : "merchant_id",
          "in" : "query",
          "description" : "Id of merchant",
          "required" : true,
          "type" : "string",
          "pattern" : "^[a-f0-9]{8}-([a-f0-9]{4}-){3}[a-f0-9]{12}$"
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "From date (and including)\n",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "To date (but not including)\n",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of select report",
          "required" : false,
          "type" : "string",
          "default" : "en",
          "enum" : [ "en", "sv", "nb", "dk", "fi" ]
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of report",
          "required" : false,
          "type" : "string",
          "default" : "summary",
          "enum" : [ "detailed", "summary" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ReportTaskResult"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pdf" : {
      "get" : {
        "tags" : [ "reports" ],
        "summary" : "Create a PDF report task",
        "operationId" : "get_pdf",
        "parameters" : [ {
          "name" : "settlement_id",
          "in" : "query",
          "description" : "Id of settlement of report",
          "required" : false,
          "type" : "string",
          "pattern" : "^[a-f0-9]{8}-([a-f0-9]{4}-){3}[a-f0-9]{12}$"
        }, {
          "name" : "merchant_id",
          "in" : "query",
          "description" : "Id of merchant",
          "required" : false,
          "type" : "string",
          "pattern" : "^[a-f0-9]{8}-([a-f0-9]{4}-){3}[a-f0-9]{12}$"
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "From date (and including)\n",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "To date (but not including)\n",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "orientation",
          "in" : "query",
          "description" : "Orientation of report",
          "required" : false,
          "type" : "string",
          "default" : "portrait",
          "enum" : [ "landscape", "portrait" ]
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of select report",
          "required" : false,
          "type" : "string",
          "default" : "en",
          "enum" : [ "en", "sv", "nb", "da", "fi" ]
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of report",
          "required" : false,
          "type" : "string",
          "default" : "summary",
          "enum" : [ "detailed", "summary" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ReportTaskResult"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/{id}" : {
      "get" : {
        "tags" : [ "reports" ],
        "summary" : "Get progress for a report",
        "operationId" : "get_progress",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ReportTaskResult"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "ReportTaskResult" : {
      "type" : "object",
      "required" : [ "status" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Report task ID",
          "readOnly" : true
        },
        "status" : {
          "type" : "string",
          "description" : "Current",
          "enum" : [ "pending", "started", "done", "failed" ]
        },
        "link" : {
          "type" : "string",
          "description" : "Link to completed report, only available if 'status' is 'done'.\n"
        }
      },
      "description" : "Object containing metadata about a report task"
    },
    "PDFReportTaskParameters" : {
      "type" : "object",
      "required" : [ "merchant_id", "settlement_id" ],
      "properties" : {
        "settlement_id" : {
          "type" : "string",
          "description" : "Id of settlement of report",
          "pattern" : "^[a-f0-9]{8}-([a-f0-9]{4}-){3}[a-f0-9]{12}$"
        },
        "merchant_id" : {
          "type" : "string",
          "description" : "Id of merchant",
          "pattern" : "^[a-f0-9]{8}-([a-f0-9]{4}-){3}[a-f0-9]{12}$"
        },
        "orientation" : {
          "type" : "string",
          "description" : "Orientation of report",
          "enum" : [ "landscape", "portrait" ],
          "default" : "portrait"
        },
        "locale" : {
          "type" : "string",
          "description" : "Locale of select report",
          "enum" : [ "en", "sv", "nb", "da", "fika" ],
          "default" : "en"
        },
        "type" : {
          "type" : "string",
          "description" : "Type of report",
          "enum" : [ "detailed", "summary" ],
          "default" : "summary"
        }
      },
      "description" : "Object containing parameters for a PDF report task"
    },
    "ExcelReportTaskParameters" : {
      "type" : "object",
      "required" : [ "merchant_id", "settlement_id" ],
      "properties" : {
        "settlement_id" : {
          "type" : "string",
          "description" : "Id of settlement of report",
          "pattern" : "^[a-f0-9]{8}-([a-f0-9]{4}-){3}[a-f0-9]{12}$"
        },
        "merchant_id" : {
          "type" : "string",
          "description" : "Id of merchant",
          "pattern" : "^[a-f0-9]{8}-([a-f0-9]{4}-){3}[a-f0-9]{12}$"
        },
        "locale" : {
          "type" : "string",
          "description" : "Locale of select report",
          "enum" : [ "en", "sv", "no", "dk", "fi" ],
          "default" : "en"
        },
        "type" : {
          "type" : "string",
          "description" : "Type of report",
          "enum" : [ "detailed", "summary" ],
          "default" : "summary"
        }
      },
      "description" : "Object containing parameters for a Excel report task"
    },
    "Error" : {
      "type" : "object",
      "properties" : {
        "status" : {
          "type" : "integer",
          "description" : "HTTP error code"
        },
        "title" : {
          "type" : "string",
          "description" : "Title of problem, e.g. Bad Request"
        },
        "detail" : {
          "type" : "string",
          "description" : "Detailed human readable error description"
        },
        "type" : {
          "type" : "string",
          "description" : "Problem type, ref to URI"
        }
      },
      "description" : "Error response according to draft"
    }
  }
}