@import 'bambora_ui_variables';

body { 
    background-color: $muted;
}

.hero {
    h1 {
        margin-bottom: 0;
    } 
}

.hero-image .nav-pane {
    a {
        color: $lightest;

        path {
            fill: $lightest;
        }
    }
}

nav {
    transition: background-color 1s ease;
}

.nav-pane-transparent {
    background-color: transparent;  
}

body > .container {
    margin-top: 0;
}

.hero-image { 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 60px;

    .row {
        margin-top: 15vw; 
        h1, p {
            color: $lightest;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, black, rgb(69, 36, 89));
        opacity: .7;         
    }
}

.hero-no-image .row {
    margin-top: 60px;
    margin-bottom: 30px; 
    p {
        color: $contrast;
    }
}

.card-set { 
    margin-top: 32px; 
    hr {
        margin-top: 0; 
        background: $darkest; 
    }
}

#search-overlay .row {
    margin-top: 0;
}