@import 'bambora_ui_variables';
@import 'z-index';

html {
    background-color: $lightest;
}

body {
    display: block;
    background-color: $lightest;
}

nav {
    z-index: $zIndexSideNav; 
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: $zIndexHeader;
}

.nav-push {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    height: 66px;
}

.tocify-wrapper {
    top: 100px;
    padding-left: 30px;
}

.dark-box  {
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.06);
}

code {
background-color: rgba(0,0,0,0.05);
padding: 3px;
border-radius: 3px;
}

pre>code {
border-radius: 0;
background-color: transparent;
padding: 0;
}

pre {
    border-radius: 0;
}

h1 {
    padding-top: 0px !important; 
}

.tabs {
    z-index: $zIndexLangSelector;

    &.lang-selector {
        background-color: $muted;
        width: 100%;
        padding-bottom: 5px;
    }
}

footer {
    position: relative;
    z-index: $zIndexBody;
    margin-top: 0;
}

.form-group {
    padding: 0;
}

.nav-left {
    margin-top: 84px;
    margin-left: 20px;
}

.nav-left-fixed {
    margin-top: 0;
}

.dark-box .lang-selector {
    position: fixed;
}

/* tabs in left menu */

.nav-left .lang-selector {
    display: none;
}

.nav-left .lang-selector a {
    display: none; 
    margin-top: 10px;
    padding: 5px;  
}

@media (max-width: $screen-sm) {

    .nav-left .lang-selector {
        display: border-box;
    }

    .nav-left .lang-selector a {
        display: inline;
    }
}


.breadcrumb-trail {
    //margin-left: 28px;
    margin-left: calc(-230px + 20px + 16px); // align with toc
    display: inline-block;
}


table {
    display: table !important;
    width: calc(50% - 28px) !important;
    overflow-x: auto;
}

#edit-on-github {
    margin-right: calc(50% + 15px);
}