@import 'bambora_ui_variables';

@mixin expand-arrow($arrow-color) {
    content: '';
    position: absolute;
    left: 0px;
    top: calc(50% - 5px);
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    border-left: 4px solid transparent;
    border-bottom: 4px solid $arrow-color;
    border-right: 4px solid $arrow-color;
    border-top: 4px solid transparent; 
    transition: transform 0.2s, top 0.2s;
}

@mixin expanded-arrow {
    top: calc(50% - 10px);
    transform: rotate(45deg);
}

/* h2 level collapsable headings */

h2 {
    position: relative;
    display: inline-block;
    padding-left: 20px;

    a {
        color: $darkest; 
        text-decoration: none;
    }
}

h2:before {
    @include expand-arrow($darkest);
}

h2.open:before {
    @include expanded-arrow;
}


/* security section */

.security-definition {
    margin-bottom: 50px;

    p {
        margin-top: 10px;
    }
    
    h3 {
        display: inline;
    }

    .title span {
        color: $contrast;
        font-size: 18px;
        margin-left: 10px;
    }
}

/* operations section */


/* Tag headings */

.tag-group {
    h3 {
        margin-bottom: 15px;
        position: relative;
        display: inline-block;
        padding-left: 20px;
    }
}

.tag-group h3 a {
    position: relative;
    text-decoration: none;
    color: $contrast;
    font-size: 18px;
    transition: color 0.1s;

    &:hover {
        color: $primary;
    }
}

.tag-group h3:after {
    @include expand-arrow($contrast);
}

.tag-group h3.open:after {
    @include expanded-arrow;
}

/* expandable operation headings */

.op-border
{
    margin-left: 15px;
    border-right: solid $muted 1px;
    height: 100%;
    clear: both;
    position: absolute;
}

.operation-block {
    margin-bottom: 15px;
}

.operation-heading {
    border: solid $muted 1px; 
    border-radius: 2px;
    cursor: pointer;
    position: relative;

     .operation {    
        border-right: 1px solid $muted;
        text-align: center;
        color: $lightest;
        height: 100%;

        h4 {
            padding: 15px;
            padding-bottom: 0;
            padding-top: 12px;
            margin-bottom: 0;
        }

        &.post {
            color: $green-light;
        }

        &.put {
            color: $factory-yellow;
        }

        &.get {
            color: $tabriz-blue;
        }

        &.delete {
            color: $danger;
        }
    } 

    .path-name {
        color: $contrast-dark;
        font-size: 18px;
        padding: 15px;
        word-wrap: break-word;
    }  

    .summary {
        color: $contrast;
        text-align: center;
        padding: 15px;

        span {
            margin-right: 25px;
        }

        p {
            margin: 0;
        }
    }
}

/* Dropdown arrow */
.operation-heading:after {
    // TODO: Combine with expand-arrow mixin
    top: calc(50% - 5px);
    transform: rotate(135deg);
    content: '';
    position: absolute;
    right: 20px;
    width: 8px;
    height: 8px;
    border-left: 4px solid transparent;
    border-bottom: 4px solid $contrast;
    border-right: 4px solid $contrast;
    border-top: 4px solid transparent; 
    transition: transform 0.2s, top 0.2s;
}

.operation-heading.open:after {
    @include expanded-arrow;
}

/* Expandable operation content */
.operation-content {
    display: none;
    border: solid $muted 1px;
    border-top: none; 
    padding: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    position: relative;
    top: -10px;

    .parameters {

        margin-bottom: 30px;
    }
}

.label {
    margin-bottom: 15px; 
}


/* schema definitions */

.schemas {
    background-color: $muted;
    border-radius: 6px;
    padding: 20px 25px;
    color: $contrast;
}

.schema {
    font-family: monospace;
    display: inline-block;
    vertical-align: top;

    .property {
        margin-left: 20px;
        display: block;
    }

    .schema-title {
        position: relative;
        padding-left: 20px;
        a {
            color: $primary !important;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        &:before {
            @include expand-arrow($primary);
        }
        
        &.open:before {
            @include expanded-arrow;
            top: calc(50% - 8px);
        }
    }

    .syntax {
        color: $contrast;
    }

    .name {
        color: $green-light;
    }

    .description {
        a {
            color: $tabriz-blue;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/* property details */

.property-info {
    display: inline;
    vertical-align: top;
    overflow: hidden;

    .property-type {
        color: $tabriz-blue !important;
        
        &.expandable {
            position: relative;
            padding-left: 20px;

            &:before {
                @include expand-arrow($tabriz-blue);
            }

            &.open:before {
                @include expanded-arrow;
                top: calc(50% - 8px);
            }
        }
    }

    .property-body {
        display: inline-block;
        vertical-align: top;

    }

    .property-detail {
        display: block;
    }
}

.enum-link {
    
    text-decoration: none;
    color: $darkest !important;
    padding-left: 20px;
    position: relative;

    &:hover {
        text-decoration: underline;
    }

    &:before {
        @include expand-arrow($darkest);
    }

    &.open:before {
        @include expanded-arrow;
        top: calc(50% - 8px);
    }
}

.enum-list {
    span {
        display: block;
        margin-left: 20px;
    }
}