@import 'bambora_ui_variables';


/* expandable operation headings */

// .operation-block {
//     margin-bottom: 24px;
// }

.operation-heading {
    border: solid $muted 1px; 
    border-radius: 2px;
    cursor: pointer;

     .operation {    
        border-right: 1px solid $muted;
        text-align: center;
        color: $lightest;
        height: 100%;

        h4 {
            padding: 15px;
            margin-bottom: 0;
        }

        &.post {
            color: $green-light;
        }

        &.put {
            color: $factory-yellow;
        }

        &.get {
            color: $tabriz-blue;
        }

        &.delete {
            color: $danger;
        }
    } 

    .path-name {
        color: $contrast-dark;
        font-size: 18px;
        padding: 15px;
    }  

    .summary {
        color: $contrast;
        text-align: right;
        padding: 15px;

        p {
            margin: 0;
        }
    }
}



/* Expandable operation content */

.operation-content {
    display: none;
    border: solid $muted 1px;
    border-top: none; 
    padding: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    position: relative;
    top: -10px;

    .parameters {

        margin-bottom: 30px;
    }
}

.label {
    margin-bottom: 15px; 
}


/* schema definitions */

.schemas {
    background-color: $muted;
    border-radius: 6px;
    padding: 20px 25px;
    color: $contrast;
}

.schema {
    font-family: monospace;
    display: inline-block;
    vertical-align: top;

    .property {
        margin-left: 20px;
        display: block;
    }

    .schema-title {
        color: $primary;
    }

    .syntax {
        color: $contrast;
    }

    .name {
        color: $green-light;
    }

    .description {
        color: $tabriz-blue;
    }
}
