@import 'bambora_ui_variables';


/* security definitions */

.security-definition {
    
    margin-bottom: 50px;

    p {
        margin-top: 10px;
    }
    
    h3 {
        display: inline; 
    }

    .title span {
        color: $contrast;
        font-size: 18px;
        margin-left: 10px;
    }
}


/* expandable operation headings */

.op-border
{
    margin-left: 15px;
    border-right: solid $muted 1px;
    height: 100%;
    clear: both;
    position: absolute;
}

.operation-block {
    margin-bottom: 48px;
}

.operation-heading {
    border: solid $muted 1px; 
    border-radius: 2px;
    cursor: pointer;
    position: relative;

     .operation {    
        border-right: 1px solid $muted;
        text-align: center;
        color: $lightest;
        height: 100%;

        h4 {
            padding: 15px;
            margin-bottom: 0;
        }

        &.post {
            color: $green-light;
        }

        &.put {
            color: $factory-yellow;
        }

        &.get {
            color: $tabriz-blue;
        }

        &.delete {
            color: $danger;
        }
    } 

    .path-name {
        color: $contrast-dark;
        font-size: 18px;
        padding: 15px;
        word-wrap: break-word;
    }  

    .summary {
        color: $contrast;
        text-align: right;
        padding: 15px;

        p {
            margin: 0;
        }
    }
}



/* Expandable operation content */

.operation-content {
    display: none;
    border: solid $muted 1px;
    border-top: none; 
    padding: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    position: relative;
    top: -10px;

    .parameters {

        margin-bottom: 30px;
    }
}

.label {
    margin-bottom: 15px; 
}


/* schema definitions */

.schemas {
    background-color: $muted;
    border-radius: 6px;
    padding: 20px 25px;
    color: $contrast;
}

.schema {
    font-family: monospace;
    display: inline-block;
    vertical-align: top;

    .property {
        margin-left: 20px;
        display: block;
    }

    .schema-title {
        a {
            color: $primary !important;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .syntax {
        color: $contrast;
    }

    .name {
        color: $green-light;
    }

    .description {
        a {
            color: $tabriz-blue;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/* property details */

.property {
    //white-space: nowrap;
}

.property-info {
    display: inline;
    vertical-align: top;
    overflow: hidden;
    //white-space: nowrap;

    .property-body {
        display: inline-block;
        vertical-align: top;
        //white-space: nowrap;

    }

    .property-detail {
        display: block;
        //white-space: nowrap;
    }
}

.enum-link {
    
    text-decoration: none;
    color: $darkest !important;

    &:hover {
        text-decoration: underline;
    }
}

.enum-list {
    span {
        display: block;
        margin-left: 20px;
    }
}