/* Variables (taken from Bambora UI) */ 
$muted: rgb(240, 240, 240);
$muted-light: rgb(246, 246, 246);
$muted-dark: rgb(200, 200, 200);
$lightest: rgb(255, 255, 255); 
$contrast: rgb(140, 140, 140);
$contrast-light: rgb(163, 163, 163);
$darkest: rgb(30, 30, 30); 
$amethyst: rgb(69, 36, 89);
$primary: rgb(120, 71, 181);
$contrast-dark: rgb(90, 90, 90);

$green-light: rgb(0, 166, 153);
$factory-yellow: rgb(252, 207, 120);
$tabriz-blue: rgb(28, 145, 176);
$danger: rgb(224, 80, 67);

$screen-md: 992px;
$screen-sm: 767px;
