@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Air.eot');
  src: url('/fonts/FaktPro-Air.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Air.woff') format("woff");
  font-weight: 100; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-AirItalic.eot');
  src: url('/fonts/FaktPro-AirItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-AirItalic.woff') format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Black.eot');
  src: url('/fonts/FaktPro-Black.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Black.woff') format("woff");
  font-weight: 900; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-BlackItalic.eot');
  src: url('/fonts/FaktPro-BlackItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-BlackItalic.woff') format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Blond.eot');
  src: url('/fonts/FaktPro-Blond.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Blond.woff') format("woff");
  font-weight: 250; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-BlondItalic.eot');
  src: url('/fonts/FaktPro-BlondItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-BlondItalic.woff') format("woff");
  font-weight: 250;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Bold.eot');
  src: url('/fonts/FaktPro-Bold.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Bold.woff') format("woff");
  font-weight: 700; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-BoldItalic.eot');
  src: url('/fonts/FaktPro-BoldItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-BoldItalic.woff') format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Hair.eot');
  src: url('/fonts/FaktPro-Hair.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Hair.woff') format("woff");
  font-weight: 150; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-HairItalic.eot');
  src: url('/fonts/FaktPro-HairItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-HairItalic.woff') format("woff");
  font-weight: 150;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Light.eot');
  src: url('/fonts/FaktPro-Light.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Light.woff') format("woff");
  font-weight: 300; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-LightItalic.eot');
  src: url('/fonts/FaktPro-LightItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-LightItalic.woff') format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Medium.eot');
  src: url('/fonts/FaktPro-Medium.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Medium.woff') format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-MediumItalic.eot');
  src: url('/fonts/FaktPro-MediumItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-MediumItalic.woff') format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Normal.eot');
  src: url('/fonts/FaktPro-Normal.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Normal.woff') format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-NormalItalic.eot');
  src: url('/fonts/FaktPro-NormalItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-NormalItalic.woff') format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-SemiBold.eot');
  src: url('/fonts/FaktPro-SemiBold.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-SemiBold.woff') format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-SemiBoldItalic.eot');
  src: url('/fonts/FaktPro-SemiBoldItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-SemiBoldItalic.woff') format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Thin.eot');
  src: url('/fonts/FaktPro-Thin.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-Thin.woff') format("woff");
  font-weight: 200; }

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-ThinItalic.eot');
  src: url('/fonts/FaktPro-ThinItalic.eot#iefix') format("embedded-opentype"), url('/fonts/FaktPro-ThinItalic.woff') format("woff");
  font-weight: 200;
  font-style: italic; }
