@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Air.eot);
  src: url(FaktPro-Air.eot#iefix) format("embedded-opentype"), url(FaktPro-Air.woff) format("woff");
  font-weight: 100; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-AirItalic.eot);
  src: url(FaktPro-AirItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-AirItalic.woff) format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Black.eot);
  src: url(FaktPro-Black.eot#iefix) format("embedded-opentype"), url(FaktPro-Black.woff) format("woff");
  font-weight: 900; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-BlackItalic.eot);
  src: url(FaktPro-BlackItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-BlackItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Blond.eot);
  src: url(FaktPro-Blond.eot#iefix) format("embedded-opentype"), url(FaktPro-Blond.woff) format("woff");
  font-weight: 250; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-BlondItalic.eot);
  src: url(FaktPro-BlondItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-BlondItalic.woff) format("woff");
  font-weight: 250;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Bold.eot);
  src: url(FaktPro-Bold.eot#iefix) format("embedded-opentype"), url(FaktPro-Bold.woff) format("woff");
  font-weight: 700; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-BoldItalic.eot);
  src: url(FaktPro-BoldItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Hair.eot);
  src: url(FaktPro-Hair.eot#iefix) format("embedded-opentype"), url(FaktPro-Hair.woff) format("woff");
  font-weight: 150; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-HairItalic.eot);
  src: url(FaktPro-HairItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-HairItalic.woff) format("woff");
  font-weight: 150;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Light.eot);
  src: url(FaktPro-Light.eot#iefix) format("embedded-opentype"), url(FaktPro-Light.woff) format("woff");
  font-weight: 300; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-LightItalic.eot);
  src: url(FaktPro-LightItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Medium.eot);
  src: url(FaktPro-Medium.eot#iefix) format("embedded-opentype"), url(FaktPro-Medium.woff) format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-MediumItalic.eot);
  src: url(FaktPro-MediumItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Normal.eot);
  src: url(FaktPro-Normal.eot#iefix) format("embedded-opentype"), url(FaktPro-Normal.woff) format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-NormalItalic.eot);
  src: url(FaktPro-NormalItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-NormalItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-SemiBold.eot);
  src: url(FaktPro-SemiBold.eot#iefix) format("embedded-opentype"), url(FaktPro-SemiBold.woff) format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-SemiBoldItalic.eot);
  src: url(FaktPro-SemiBoldItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-SemiBoldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-Thin.eot);
  src: url(FaktPro-Thin.eot#iefix) format("embedded-opentype"), url(FaktPro-Thin.woff) format("woff");
  font-weight: 200; }

@font-face {
  font-family: 'Fakt Pro';
  src: url(FaktPro-ThinItalic.eot);
  src: url(FaktPro-ThinItalic.eot#iefix) format("embedded-opentype"), url(FaktPro-ThinItalic.woff) format("woff");
  font-weight: 200;
  font-style: italic; }
