/* Styling for the side nav/toc */ 

.nav-left {
  position: absolute; 
  overflow-y: auto;
  max-width: 240px;
  max-height: calc(100% - 106px - 66px); // fit between header and footer
}

.nav-left-fixed {
  position: fixed !important;
  top: 106px; // 66px header + 40px of padding
}

/* Fixes it so the tocbot toc fits in the list */
.nav-vertical li {
  height: auto !important;
  min-height: 34px !important;
}

/* Styling for the js-toc */

.js-toc .toc-link.node-name--H2 {
  font-size: 14px;
  margin-left: 20px;
}

.js-toc .toc-link.node-name--H3 {
  font-size: 12px;
  margin-left: 30px;
}  

.js-toc .toc-link.node-name--H4 {
  color:$contrast !important;
  font-size: 12px;
  margin-left: 40px;
}

.js-toc .toc-link.node-name--H5 {
  color: $contrast !important;
  font-size: 10px; 
  margin-left: 50px;
}

.js-toc .is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.js-toc .is-collapsed {
  max-height: 0;
}

.js-toc .is-position-fixed {
  position: fixed !important;
  top: 0;
}

.js-toc .is-active-link {
  color: $primary;
  border-left: 2px solid $primary !important;
}

.toc-list-item {
  padding-bottom: 0;
  margin-bottom: 0;
}


/* styling for in-page toc inside of outside links */

.page-only {
  .toc-link.node-name--H2 {
    font-size: 16px;
  }
}

ul .js-toc {
  li a { 
    color: rgba(90, 90, 90, 1) !important;
    border-left: none !important;
  } 
}


/* Responsive nav */ 

.show-toc, .mobile-close {
  display: none;
}


@media (max-width : 992px) {

  .show-toc {
    display: block;
    position: fixed;
    background: $primary;
    color: $lightest;
    z-index: $zIndexShowSideNavButton;
    padding: 7px 15px;
    left: -30px;
    transform: rotate(-90deg);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .mobile-close {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    color: $contrast;
    cursor: pointer;

    path {
      fill: $contrast;
    }

    &:hover {
      path {
        fill: $primary;
      }
    }
  }
  
  .nav-left, .nav-left-fixed {
    position: fixed;
    left: 0;
    top: 66px;
    background-color: $lightest;
    z-index: $zIndexSideNav;
    height: calc(100% - 66px);
    max-height: calc(100% - 66px);
    width: 200px;
    padding-top: 45px;
    padding-left: 15px;
    transition: left 0.2s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);

    &.mobile-state-hidden {
      left: -200px;
    }
  }
}


@media (max-width : 875px) {
  .show-toc, .mobile-close {
    display: none;
  }  

  .nav-left, .nav-left-fixed {
    position: static !important;
    background-color: $lightest;
    z-index: $zIndexSideNav;
    height: auto;
    max-height: auto;
    width: auto;
    padding-top: 0;
    padding-left: 0;
    box-shadow: none;
    //margin-top: 100px; // TODO: Temporary fix to position below buttons.
    outline: solid red 2px;
  }
}