/* Styles for the side navigation / table of contents */

.nav-left {
  position: absolute; 
  overflow-y: auto;
  max-width: 240px;
  max-height: calc(100% - 66px - 66px);
}

.nav-left-fixed {
  position: fixed !important;
  top: 66px;
}

.nav-left li li {
  min-height: 0;
}

.js-toc .toc-link.node-name--H3 {
  font-size: 12px;
  margin-left: 20px;
}

.js-toc .toc-link.node-name--H4 {
  font-size: 12px;
  margin-left: 30px;
}

.js-toc .is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.js-toc .is-collapsed {
  max-height: 0;
}

.js-toc .is-position-fixed {
  position: fixed !important;
  top: 0;
}

.js-toc .is-active-link {
  color: rgba(120, 71, 181, 1);
  border-left: 2px solid rgba(120, 71, 181, 1);

}

.toc-list-item {
  padding-bottom: 0;
  margin-bottom: 0;
}


/* Nav collapse on mobile screens */

#show-nav-link {
  position: fixed;
  left: 0;
  top: 15px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  padding: 10px; 
  padding-bottom: 5px;
  path {
    fill: $primary; 
  }
  display: none;
  z-index: $zIndexSideNav;
}

#nav-close {
  display:none; 
}

@media (max-width : 992px) {
  .nav-left {
    transition: left 0.5s;
    left: -250px;
    background-color: $lightest;
    z-index: $zIndexSideNav;
    height: 100%;
    max-height: 100%;
    top: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    margin-top: 0 !important;

    ul {
      padding-left: 15px;
      padding-right: 15px;
    }

    &.show {
      left: 0;
    }
  }

  #show-nav-link {
    display: block;
  }

  #nav-close {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    path {
      fill: $primary; 
    }
  }
}
