@import 'bambora_ui_variables';

// Change these values to change the primary colors 
// of the site. For Bambora UI styling, 
// $primary: rgb(120, 71, 181) ($primary)
// $primary-light: rgb(202, 172, 223) ($faded-violet)
// $primary-dark: rgb(69, 36, 89) ($amethyst)

$primary: #067aed;
$primary-light: #71afed;
$primary-dark: rgb(5, 110, 214);
