/* Main body content */

$zIndexBody : 0;


/* Header content */

$zIndexHeader : 100;


/* Footer content */

$zIndexFooter : 200;


/* Side nav content */ 

$zIndexSideNav: 300; 


/* Search content */

$zIndexSearch : 400; 