/* 
Z-index variables to easily keep an index of what goes on top of 
what else. 
*/

/* Main body content */

$zIndexBody : 0;
$zIndexDarkBox: 10; // dark code blocks in spec template.
$zIndexLangSelector: 20; 

/* Header content */

$zIndexHeader : 100;


/* Footer content */

$zIndexFooter : 200;


/* Side nav content */ 

$zIndexSideNav: 300; 


/* modal content */
$zIndexModal: 400;


/* Search content */

$zIndexSearch : 500;
