// Variables (taken from Bambora UI): 
$muted: rgb(240, 240, 240);
$lightest: rgb(255, 255, 255); 
$contrast: rgb(140, 140, 140);
$darkest: rgb(30, 30, 30); 

body { 
    background-color: $muted;
}

.page-heading { 
    margin-top: 60px;
    margin-bottom: 60px;

    h1 { 
        margin-bottom: 0px;
    }

    p {
        color: $contrast;
    }
}

.card-set { 
    margin-top: 32px; 
    hr {
        margin-top: 0; 
        background: $darkest; 
    }
}