
// TODO: 
// - clean up css 
// - split out card stuff 
// - cards should be links 

body { 
    background-color: rgb(240, 240, 240);
}

// Note: I think this should be part of bambora ui
footer { 
    background-color: rgb(255, 255, 255);
}

.jumbotron { 
    margin-top: 4em;
    margin-bottom: 4em;

    h1 { 
        margin-bottom: 0px;
    }

    p {
        color: rgb(140, 140, 140);
    }
}

.card-text {
    hr {
        margin-top: 32px; 
        background: rgb(30, 30, 30);
    }
}

.cards { 
    margin-top: 32px;

    .row > a { 
        color: rgb(30, 30, 30);
        text-decoration: none; 
    }
}


.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}

.card, a {
    background-color: white;
    flex-grow: 1;
    margin-bottom: 30px;
    padding: 24px;

    h3 { 
        margin-top: 15px; 
        margin-bottom: 12px; 
    }

    p {
        font-size: 14px; 
        margin: 0px; 
    }

    .icon-bg {
        padding: 10px 7px 5px;
        color: white; 
        border-radius: 4px;

        img {
            display: inline;
        }

        path { 
            fill: white; 
        }
    }
}

.col-md-6 { 
    flex-grow: 1;
}

.flex-row.row a { 
    all: unset; 
}