body { 
    background-color: rgb(240, 240, 240);
}

footer { 
    background-color: rgb(255, 255, 255);
}

.jumbotron { 
    margin-top: 4em;
    margin-bottom: 4em;

    h1 { 
        margin-bottom: 0px;
    }

    p {
        color: rgb(140, 140, 140);
    }
}

.card-text {
    hr {
        margin-top: 32px; 
        background: rgb(30, 30, 30);
    }
}

.cards .row > a { 
    color: rgb(30, 30, 30);
    text-decoration: none; 
}

.cards { 
    margin-top: 32px;
}

.card {    
    height: 200px; 
    padding: 25px 45px;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

    h3 { 
        margin-top: 15px; 
        margin-bottom: 12px; 
    }

    p {
        font-size: 14px; 
    }
    &:hover {
        bottom: 10px; 
    }
}

.card:after { 
    content: '';
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: -1;
}

.card .icon-bg {
    padding: 10px 7px 5px;
    color: white; 
    border-radius: 4px;
}