@import 'syntax'; // syntax highlighting for code blocks
@import 'bambora_ui_variables';

/* general */

body {
  background-color: $lightest;
}

img {
  display: block;
  margin: auto;
}

footer {
  background-color: $lightest;
}

.container {
  margin-top: 30px;
}

table {
  display:block;
  overflow:auto; 
}

td,th {
  padding: 6px;
}

pre {
  padding: 20px 25px; 
  border-radius: 6px; 
}


/* side nav/toc */ 

.nav-sticky {
  position: fixed; 
  margin-top: 30px;
  margin-bottom: 60px;
  padding-bottom: 60px;
  overflow-y: auto;
  height: calc(100% - 180px);
}

.side-nav-offset {
  margin-left: 300px;
}

.nav-left {
  padding-bottom: 0px;
  margin: 0;
  max-width: 300px; 
}

.nav-left > ul > li {
  min-height: 26px; 
  padding-bottom: 14px;
}

.nav-left li {
  list-style: none;
}

.nav-left li a {
  position: relative;
  color: rgba(90, 90, 90, 1);
  display: block;
  font-size: 16px;
  text-decoration: none;
  border: 0;
  border-left: 2px solid transparent;
  font-weight: 400;
  cursor: pointer;
  padding: 16px;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 100ms ease-out;
}

.nav-left li.active {
  border-left: 2px solid rgba(120, 71, 181, 1);
}

.nav-left .nav-top-heading {
  color: rgba(90, 90, 90, 1);
}

.nav-left .active .nav-top-heading {
  color: rgba(120, 71, 181, 1); 
}

.nav-left a.nav-top-heading:hover {
  color: rgba(120, 71, 181, 1); 
}
  
.nav-left .nav-subs {
  position: relative;
}

.nav-left ul.nav-subs {
  padding-left: 16px;
} 

.nav-left .nav-subs > li { 
  list-style: none;
  padding-left: 0;
  margin: 0;
  min-height: 26px; 
}

.nav-left .nav-subs > li > a {
  font-size: 16px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  color: rgba(90, 90, 90, 1);
}

.nav-left .nav-subs li > a:hover {
color: rgba(120, 71, 181, 1); 
}

.js-toc {
  border-left: 0px;
}

.js-toc .toc-list {
  margin: 0;
  padding-left: 10px;
}

.js-toc a.toc-link {
  color: currentColor;
  height: 100%;
}

.js-toc .toc-link.node-name--H2 {
  font-size: 12px;
  min-height: 12px;
}

.js-toc .toc-link.node-name--H3 {
  font-size: 12px;
  color: rgba(120, 120, 120, 1);
}

.js-toc .toc-link.node-name--H4 {
  font-size: 12px;
  color: rgba(90, 90, 90, 1);
}

.js-toc .is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.js-toc .is-collapsed {
  max-height: 0;
}

.js-toc .is-position-fixed {
  position: fixed !important;
  top: 0;
}

.js-toc .is-active-link {
  font-size: 15px;
  font-weight: 600;
}

#nav-link {
  position: fixed;
  top: 80px;
  left: 15px;
  background-color: $contrast-dark;
  padding: 7px;
  padding-bottom: 2px;
  border-radius: 3px;
  display: none;  
  path {
    fill: $lightest;
  }
}

@media (max-width : 992px) {
  .nav-left {
    transition: left 0.5s;
    left: -200px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    border-radius: 5px;

    &.show {
      left: 0;
    }
  }

  #nav-link {
    display: block;
  }
}


/* flex box cards */

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.flex-row > [class*='col-'] {
 	display: flex;
 	flex-direction: column;
    flex-grow: 1;

    a {
        background-color: $lightest;
        color: $darkest; 
        text-decoration: none;
        flex-grow: 1;
        padding: 24px;
        margin-bottom: 30px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
        position: relative;
        bottom: 0px; 
        transition: bottom 0.1s;

        &:hover {
          position: relative;
          bottom: 15px;
        }
    }
}

.card {
    .icon-bg {
        display: inline-block;
        width: 30px;
        height: 30px; 
        text-align: center;
        line-height: 35px; 
        border-radius: 4px;
        
        path { 
            fill: $lightest; 
        }
    }

    span {
        display: block;
        float: right;
        background: rgb(202, 172, 223);
        color: rgb(120, 71, 181);
        border-radius: 4px; 
        font-size: 12px; 
        padding: 0px 10px;
        font-weight: bold;
    }

    h3 { 
        margin-top: 15px; 
        margin-bottom: 12px; 
    }

    p {
        font-size: 14px; 
        margin: 0px; 
    }
}


/* sticky footer */

html {
    height: 100%;
}

body {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}


/* table */  

/*
  .table styles copied over 
  from bambora UI and applied to <table>.

  Note: Temp fix to get proper table styling for tables 
  created in markdown files. Unsure how to add .table class
  to redcarpet markdown tables.  
*/ 

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 8px;
  transition: all 100ms ease-out; 
}

table thead th {
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(200, 200, 200, 1);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px;
  padding-bottom: 18px; 
}

table tbody td {
  text-align: left;
  padding: 20px;
  padding-bottom: 18px;
  font-size: 16px; 
}

table tbody tr:last-child td {
  border-bottom: none;
}

/* top nav */

.nav-pane a {
  &:hover {
    path {
      fill: $primary;
    }   
  }
}

#search-overlay {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  overflow: auto;

  svg {
    position: fixed;
    right: 30px;
    top: 30px;
  }

  p {
    color: $lightest;
    text-align: center;
  }

  a {
    font-size: 20px; 
    color: $muted-dark;

    &:hover {
      color: $lightest;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
  
  #result-count {
    font-size: 24px; 
    color: $primary; 
  }

  input {
    padding-left: 0;
    margin-left: 0;
    font-size: 32px; 
    color: $lightest;
    background: transparent;
    border: none;
  }

  .search-result {
    margin-bottom: 50px;

    p {
      padding: 0;
      margin: 0;
    }

    .summary {
      margin-top: 10px; 
      color: $lightest;
    }
  }
}

.no-scroll {
  overflow: hidden; 
}