@import 'syntax'; // syntax highlighting for code blocks
@import 'bambora_ui_variables'; // colors, break points, etc.
@import 'z-index';

@import 'side-nav';

/* general */

div.clear {
    clear:both;
}

img {
  display: block;
  margin: auto;
  max-width: 720px; 
}

footer { 
  background-color: $lightest;
}

.container {
  margin-top: 66px;
}

table {
  margin-bottom: 24px;
}

pre {
  padding: 20px 25px; 
  border-radius: 6px; 
  text-overflow: ellipsis;
  overflow-x: auto;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap; 
}

.markdown {
  li a:not(.btn) {    // link styling in markdown lists
    color: rgba(120, 71, 181, 1);
    text-decoration: none;
    display: inline-block;
    border-bottom: rgba(120, 71, 181, 1) 1px solid;
    line-height: 1.1em;
    cursor: pointer;
    transition: all 100ms ease-out; 
  }

  li a:not(.btn):visited {
      color: rgba(120, 71, 181, 1); 
  }

  li a:not(.btn):hover {
      color: rgba(202, 172, 223, 1);
      border-bottom: rgba(202, 172, 223, 1) 1px solid; 
  }
}



/* flex box cards */

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.flex-row > [class*='col-'] {
 	display: flex;
 	flex-direction: column;
    flex-grow: 1;

    a {
        background-color: $lightest;
        color: $darkest; 
        text-decoration: none;
        flex-grow: 1;
        padding: 24px;
        margin-bottom: 30px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
        position: relative;
        bottom: 0px; 
        transition: bottom 0.1s;

        &:hover {
          position: relative;
          bottom: 15px;
        }
    }
}

.card {
    .icon-bg {
        display: inline-block;
        width: 30px;
        height: 30px; 
        text-align: center;
        line-height: 35px; 
        border-radius: 4px;
        
        path { 
            fill: $lightest; 
        }
    }

    span {
        display: block;
        float: right;
        background: rgb(202, 172, 223);
        color: rgb(120, 71, 181);
        border-radius: 4px; 
        font-size: 12px; 
        padding: 0px 10px;
        font-weight: bold;
    }

    h3 { 
        margin-top: 15px; 
        margin-bottom: 12px; 
    }

    p {
        font-size: 14px; 
        margin: 0px; 
    }
}

/* sticky footer */

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
  margin-top: 75px;
}


/* top nav */

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: $zIndexHeader;
}

.nav-pane a {
  &:hover {
    path {
      fill: $primary;
    }   
  }
}

#search-overlay {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.9);
  z-index: $zIndexSearch;
  overflow: auto;

  .container {
    margin-top: 48px;
  }

  svg {
    position: fixed;
    right: 30px;
    top: 30px;
  }

  p {
    color: $lightest;
    text-align: center;
  }

  a {
    font-size: 20px; 
    color: $muted-dark;

    &:hover {
      color: $lightest;

      path {
        fill: $lightest;
      }
    }
  }

  .form-group {
    margin-bottom: 0;
  }
  
  #result-count {
    font-size: 24px; 
    color: $primary; 
  }

  input {
    padding-left: 0;
    margin-left: 0;
    font-size: 32px; 
    color: $lightest;
    background: transparent;
    border: none;
  }

  .search-result {
    margin-bottom: 50px;

    p {
      padding: 0;
      margin: 0;
    }

    .summary {
      margin-top: 10px; 
      color: $lightest;
    }
  }
}

.no-scroll {
  overflow: hidden; 
}

/* bread crumb trail */

.breadcrumb-trail {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 18px; // align with side nav
  color: $contrast;
  font-style: italic;
  display: inline-block;

  a {
    color: $contrast;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  .this-page {
    cursor: default;
  }

  .chevron {
    margin: 0 10px;
  }
}

/* edit on github */ 
#edit-on-github {
  float: right;
  margin-top: 30px;
  color: $contrast;
  text-decoration: none;

  &:hover {
    color: $primary; 
  }
}
