<div class="footer-buffer"></div>
<footer>
    © 2016 Bambora Group
    <div class="links">
        <a href="#">Careers</a>
        <a href="#">Privacy</a>
        <a href="#">Terms & Conditions</a>
    </div>
    <div class="pull-right">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Medium</a>
    </div>
</footer>