<nav class="nav-pane">
    <div class="pull-left nav-links">
    <a href="http://bambora.com" class="logo">
        <% if current_page.data.hero_unit and current_page.dat.hero_unit.hero_image %> 
            <%= image_tag "svg/zebraffe-dev-white.svg" %>
        <% else %> 
            <%= image_tag "svg/zebraffe-dev.svg" %>
        <% end %>
    </a>
    <a href="">Quickstart</a>
    <a href="">Tutorials</a>
    <a href="">APIs</a>
    </div>
    <div class="pull-right">
        <div class="profile">
            <span class="bambora-icon"></span>
        </div>
        <a href="" class="btn btn-small">Test Payment</a>
    </div>
</nav>