<a href="#" id="close-search-overlay"><%= svg "close" %></a>

<div class="container">

    <form>
        <div class="form-group">
            <input type="text" id="search" placeholder="Search..." width="100%", autocomplete="off" >
        </div>
    </form>

    <div id="result-count"></div>

    <div class="list-group">
        <ul class="search-results"></ul>
    </div>

</div>

