---
title: Search 
layout: tutorial 

search: true
---

<%= javascript_include_tag 'search' %> 

# Search 

<input type="text" id="search" placeholder="Search..." width="100%">

<div class="result-count"></div>

<div class="list-group"><ul class="search-results"></ul></div>

