<div class="nav-vertical" style="position: fixed; margin-top: 30px">
  <ul>
    <li><a href="category2.html" data-nav="category_2">Category 2</a></li>
    <li><a href="category3.html" data-nav="category_3">Category 3</a></li>
    <li><a href="category4.html" data-nav="category_4">Category 4</a></li>
  </ul>
</div>